<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns="http://java.sun.com/xml/ns/javaee" 
 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   version="2.5">
     <servlet>  
    <servlet-name>LoginServlet</servlet-name>  
    <servlet-class>com.maven.servlet.LoginServlet</servlet-class>  
  </servlet>
     <servlet>
     	<description>
     	</description>
     	<display-name>FilmServlet</display-name>
     	<servlet-name>FilmServlet</servlet-name>
     	<servlet-class>com.maven.servlet.FilmServlet</servlet-class>
     </servlet>
     <servlet>
     	<description>
     	</description>
     	<display-name>MapServlet</display-name>
     	<servlet-name>MapServlet</servlet-name>
     	<servlet-class>com.maven.servlet.MapServlet</servlet-class>
     </servlet>
  <servlet-mapping>
  <servlet-name>LoginServlet</servlet-name>
  <url-pattern>/LoginServlet.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FilmServlet</servlet-name>
  	<url-pattern>/FilmServlet.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MapServlet</servlet-name>
  	<url-pattern>/MapServlet.action</url-pattern>
  </servlet-mapping>
   <welcome-file-list>  
    <welcome-file>index.jsp</welcome-file>  
  </welcome-file-list>  
  
 <!-- 过滤器设置编码和用户监听 -->
   <filter>
		<filter-name>ecoding</filter-name>
		<filter-class>com.maven.filter.FilterSet</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>ecoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>  
	
	<!-- <filter>
		<filter-name>FilterUser</filter-name>
		<filter-class>com.maven.filter.FilterUser</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>FilterUser</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping> -->
  
   
</web-app>
